body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

#ui {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    perspective: 400px;
}

.crawl {
    color: #fea8b0;
    font-size: 6rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;

    white-space: nowrap;

    text-shadow:
        0 0 10px #fff,
        0 0 20px #fea8b0;

    transform-origin: 50% 100%;

    animation: crawl 5990s linear infinite;
}

@keyframes crawl {
    0% {
        transform:
            rotateX(65deg)
            translateY(100%);
    }

    100% {
        transform:
            rotateX(65deg)
            translateY(-2500%);
    }
}